@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
	--clr-mbg: #222;
	--clr-hbg: #333;
	--clr-border: #666;
	--clr-th: #FF8C00;
	--clr-ts: #2fceff;
	--clr-tm: #ddd;
	--clr-hw: #fff;
	--clr-hh: #FFD700;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	overflow-x: hidden;
}

body {	
	background-color: var(--clr-mbg);
}

.App {
	min-height: 100vh;
}

.Header {
	position: sticky;
	width: 100%;
	top: 0;
	background-color: var(--clr-hbg);
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 1rem;
	justify-content: space-between;
	padding: 0.5rem 2rem;
	border-bottom: 1px solid var(--clr-border);
	
}

.Header > h1 {
	color: var(--clr-ts);
	font-weight: 600;
	font-size: 28px;
}

.Nav {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 1rem;
	width: 100%;
	position: relative;
}

main {
	padding: 5rem 5%;
	color: var(--clr-tm);
}

.blogPost {
	margin: 2rem 0;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.blogPost:first-of-type {
	margin-top: 0;
}

.blogPost:last-of-type {
	margin-bottom: 0;
}

hr {
	border: none;
	height: 1px;
	background-color: var(--clr-border);
}

hr:last-of-type {
	display: none;
}

.blogTitle {
	color: var(--clr-th);
	font-weight: 600;
	font-size: 22px;
	margin-bottom: 0.25rem;
}

.blogTitle:hover {
	cursor: pointer;
	color: var(--clr-hh);
}

.blogDate {
	font-size: 14px;
	font-weight: 500;
	color: var(--clr-ts);
	margin-bottom: 1rem;
}

.blogSnippet {
	font-size: 18px;
	font-weight: 400;
}

.blogSnippet:hover {
	cursor: pointer;
	color: var(--clr-hw);
}

form {
	width: 100%;
}

input[type='text'] {
	background-color: var(--clr-mbg);
	border: 1px solid var(--clr-border);
	border-radius: 0.5rem;
	font: inherit;
	color: var(--clr-th);
	font-weight: 500;
	padding: 0.25rem 0.5rem;
	width: 100%;
	min-width: 100%;
}

::placeholder {
	color: var(--clr-border);
}

label {
	position: absolute;
	left: -9999px;
}

ul {
	list-style-type: none;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
    width: 100%;
}

ul > li {
	display: block;
    flex: 0 1 auto;
}

ul > li:last-child {
	margin-right: 0;
}

a,
a:visited {
	text-decoration: none;
	color: var(--clr-th);
	font-weight: 700;
	text-transform: uppercase;
}

a:hover {
	cursor: pointer;
	color: var(--clr-hh);
}

.Footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	background-color: var(--clr-hbg);
	display: flex;
	justify-content: center;
	color: var(--clr-th);
	padding: 1rem 0;
	border-top: 1px solid var(--clr-border);
}

@media (min-width: 768px) {
	.Header {
		position: fixed;
		flex-direction: row;
		align-items: center;
	}

	.Nav {
		flex-direction: row;
		align-items: center;
		gap: 6rem;
		width: fit-content;
	}

	ul {
		list-style-type: none;
		display: flex;
		align-items: end;
		justify-content: end;
		width: fit-content;
	}

	ul > li {
		display: inline-block;
		margin-right: 4rem;
	}

	ul > li:last-child {
		margin-right: 0;
	}

	form {
		width: fit-content;
	}
	
}